<div class="review-badge">
  {% if badge_template == "product" %}
    <!-- INSERT [PRODUCT PAGE] REVIEW BADGE HERE -->
    
  {% elsif badge_template == "grid" %}
    <!-- INSERT [PRODUCT GRID] REVIEW BADGE HERE -->
    
  {% endif %}
</div>